<header class="header">
  <div class="container grid">
    <a  class="logo header__logo">SneakMax</a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Подбор товара</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Наша команда</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Корзина</a></li>
      </ul>
    </nav>
  </div>
</header>
